<md-content layout="row" flex tabIndex="-1"
    role="main" class="md-whiteframe-z2"
    ng-controller="ShellController as vm"
    md-theme="{{theme}}" md-theme-watch="true"
    id="popupContainer">
    <div layout="row" ht-sidebar></div>
    <md-content layout="column" flex>
        <ht-top-nav></ht-top-nav>
        <md-content flex layout="column">
            <md-content layout="column" flex ui-view class="shuffle-animation"></md-content>
        </md-content>
    </md-content>

</md-content>

<div ngplus-overlay
     ngplus-overlay-delay-in="50"
     ngplus-overlay-delay-out="700"
     ngplus-overlay-animation="dissolve-animation">
    <img src="images/busy.gif"/>

    <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
</div>