<md-card class="md-whiteframe-3dp" ng-cloak layout="row" layout-margin>
    <span layout="row" layout-align="start start" ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract" class="breadcrumbLinkWrapper">
        <span ng-switch-when="false">
            <md-button md-no-ink
                aria-label="{{step.ncyBreadcrumbLink}}"
                class="md-primary md-hue-1 breadcrumbLink"
                href="{{step.ncyBreadcrumbLink}}">
                <span ng-if="steps.indexOf(step) > 0">\</span>
                {{step.ncyBreadcrumbLabel}}
            </md-button>
        </span>
        <span ng-switch-when="true" ng-disabled="true" class="md-button breadcrumbLink">
            <span ng-if="steps.indexOf(step) > 0">\</span>
            {{step.ncyBreadcrumbLabel}}
        </span>
    </span>
    <span flex-sm></span>
</md-card>